@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}

:root{
    --primary: #8c38ff;
    --light: #EEEEEE;
    --dark: #212121;

}

body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    /*overflow: hidden;*/
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background-color:rgba(0, 0, 0, 0.0);
    padding: 6px 14px;
    transition: all 0.5s ease;
    z-index: 10;
}

.sidebar.active{
    width: 240px;
    /*Glass*/
    background: rgba(0, 0, 0, 0.5);
    background: linear-gradient(
        to right bottom
        rgba(255, 255, 255, 0.7)
        rgba(255, 255, 255, 0.3)
    );
    box-shadow: 5px 0px 5px black;
    backdrop-filter: blur(5px);
}

.sidebar .logo_content .logo{
    color: #FFF;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
    
}

.sidebar.active .logo_content .logo{
    pointer-events: none;
    opacity: 1;
}

.logo_icon{
    width: 24px;
    height: 24px;
}

.logo_content .logo .logo_icon{
    font-size: 28px;
    margin-right: 5px;
}

.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 400;

}

.sidebar #btn{
    position: absolute;
    color: white;
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar.active #btn{
    left: 90%;
    
}

.sidebar ul{
    margin-top: 20px;
}

.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
    opacity: 0;
    pointer-events: none;
}

.sidebar.active ul li{
    opacity: 1;
}

.sidebar ul li a{
    color: #FFF;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.5s ease;
    border-radius: 12px;
    white-space: nowrap;
}

.sidebar ul li a:hover{
    color: #212121;
    background: #FFF;
}

.sidebar ul li a i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar .links_name{
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidebar .footer-content{
    position: absolute;
    color: white;
    bottom: 0;
    left: 0;
    width: 100%;
}

.sidebar .footer-content .footer{
    position: relative;
    padding: 10px 6px;
    height: 60px;
    transition: all 0.4s ease;
}

.footer-content .footer .footer-details{
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.sidebar.active .footer .footer-details{
    opacity: 1;
    pointer-events: auto;
}

.footer .footer-details .msg{
    font-size: 15px;
    font-weight: 400px;
}

.footer .footer-details .msg2{
    font-size: 12px;
}

.footer #gitlink{
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 25px;
    border-radius: 12px;
    text-align: center;
    transition: all 0.4s ease;
    text-decoration: none;
}

.sidebar.active .footer #gitlink{
    left: 88%;
}

.sidebar.active .links_name{
    opacity: 1;
    pointer-events: auto;
}

.home_content{
    position: absolute;
    height: 100%;
    width: 100%;
    /*width: calc(100% - 78px);
    left: 78px;*/
    transition: all 0.5s ease;
    /*overflow-x: hidden;*/
}

.home_content .box1{
    background-image: url("Images/box1_bg.jpg");
    width: 100%;
    height: 518px;
    z-index: 2;
}

.home_content .box1 .title{
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 500;
    text-align: left;
    position: absolute;
    width: 20%;
    margin-left: 25%;
    margin-top: 7%;
    color: rgb(255, 255, 255);
    z-index: 2;
    text-shadow: 0px 0px 5px black;
}

.home_content .box2{
    width: 33%;
    margin: 0.166%;
    height: 628px;
    border-style: solid;
    border-width: 5px;
}

#leftbox{
    background-image: url("Images/comingsoon.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-color: #6E7C7C;
    float: left;
}

#middlebox{
    background-image: url("Images/Background_sz.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-color: red;
    float: left;
}

#rightbox{
    background-image: url("Images/comingsoon.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-color: #0424FB;
    float: left;
}

.box2 .games_logos{
    margin-left: .7%;
    margin-top: 3.05%;
    position: absolute;
}

#heart{
    color: red;
    text-shadow: 0px 0px 1px black;
}
