@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    /* background-image: url("Images/box1_bg.jpg"); */
    background-image: linear-gradient(darkred, black);
}

.navbar{
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    background-color: rgba(0, 0, 0, 0.25);
}

.nav-logo{
    width: 50px;
    height: 50px;
    margin: 5px;
}

/* nav-itens */
.nav-itens{
    color: white;
    text-decoration: none;
    margin: 0px 25px 0px 25px;
}

.nav-itens:hover{
    color: rgb(172, 172, 172);
}

/* Banner */
.banner{
    display: flex;
    justify-content: center;
    margin: 8px 0px 8px 0px;
    position: relative;
}

.img-banner{
    max-width: 100%;
}

.banner-text{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Showcase */
.showcase{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box2{
    border: solid 5px;
}

#leftbox{
    background-image: url("Images/comingsoon.gif");
    background-size: cover;

}

#middlebox{
    background-image: url("Images/Background_sz.gif");
    background-size: cover;
}

#rightbox{
    background-image: url("Images/comingsoon.gif");
    background-size: cover;
}

.games_logos{
    max-width: 100%;
}

/* Information */
.info{
   display: flex;
   flex-direction: column; 
}

.box3{
    height: 5px;
    margin-bottom: 8px;
}

.text1-box3{
   color: white;
}

.text2-box3{
    color: white;
    text-align: right;
}

.text3-box3{
    color: white;
}
